{% extends "layout.jinja2" %}
{% block title %}Home page for our Users{% endblock %}
{% block body %}
<section>
<article>
    <p> Our Users are super cool so you should defs register.</p>
</article>
</section>
{% endblock %}