<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}User App{% endblock %}</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{{ request.route_url('home') }}">Home</a></li>
      <li><a href="{{ request.route_url('profile') }}">Profile</a></li>
      <li><a href="{{ request.route_url('register') }}">Register</a></li>
      <li><a href="{{ request.route_url('login') }}">Login</a></li>
      <li><a href="{{ request.route_url('logout') }}">Logout</a></li>
    </ul>
  </nav>
  {% block body %}
  {% endblock %}
</body>
</html>